:root 
{
background-color: rgb(121, 201, 255);
color: white;
font-family: garamond
}
 .title
{
  color: rgb(255, 158, 209);
  font-size: 50pt;
  text-decoration: underline;
  text-align: center;
}
ul
{
    text-align: center;
}
h1
{
   font-size: 20pt;
}
  li
{
    display: inline;
    margin-left: 5vw;
    margin-right: 5vw;
}
  img
  {
    margin: auto;
    display: block;
  } 
section :hover
{
    background-color: rgb(0, 77, 118);
}
.footnote
  {
    font-style: italic;
    text-align: center;
    margin-top: 100px;
}
