:root
{
 background-color: rgb(121, 201, 255);
 font-family: garamond;
 
}
body
{
    background-color: white;
}
*
{
    color:  rgb(255, 108, 162);
    text-align: center;
}
h1
{
    font-size: calc(12pt + 4vw);
}
nav
{
    border: white;
}
section
{
    border: white;
    margin: 5px;
    margin-top: 50px;
}
.date
{
    color: rgb(255, 238, 0);
}
ul
{
    list-style: none;
    padding-left: 0px;
}
